ion-item {
  --padding: 0;
  --padding-start: 0;
  --inner-padding: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}

ion-button,
ion-button > .button {
  --padding-start: 0;

  --padding-start: 4px;
  --padding-end: 4px;
  --padding-top: 0;
  --padding-bottom: 0;

  margin: 0;
  height: fit-content;
}

ion-list-header {
    min-height: 0;
}