ion-tab-button {
  color: var(--ion-color-secondary)
}

ion-tab-button > ion-icon {
  height: 22px;
}

ion-tab-button:hover > ion-icon {
  color: var('--ion-color-primary');
}

ion-tab-button.tab-selected {
  color: var(--ion-color-tertiary);
}
  